@import "../vendor/twitter/bootstrap/twitter/bootstrap/less/bootstrap.less";
@import "../vendor/twitter/bootstrap/twitter/bootstrap/less/responsive.less";

body {
    background: #272727;
    color: #8d8d8d;
    font-family: 'Open Sans', sans-serif;
}

div#cow {
    .transition(all .5s);
    background: #ffffff url(../img/cow.png) center -100px no-repeat;
    height: 100px;

    &:hover {
        background-position: center -120px;
        height: 200px;
    }
}

#logo {
    display: block;
    margin: auto;
    margin-top: -25px;
}

.muted {
    color: #5a5a5a;
    font-size: 12px;
}

section#contactDetails {
    .rotate(-3deg);
    color: #c8c8c8;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    margin: 80px auto;
    text-align: center;
    width: 300px;

    a {
        color: #c8c8c8;
    }

    .phone {
        .rotate(1deg);
        font-size: 33px;
        margin: 20px 0 0 30px;
    }
}

section#blurb {
    margin: 0 auto 50px auto;
    max-width: 560px;
    text-align: center;
}

@media (max-width: 767px) {

    body {
        padding: 0;
    }

    div#cow {
        background-position: -630px -100px;

        &:hover {
            background-position: -630px -120px;
        }
    }

    section#blurb {
        width: auto;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {

    div#cow {
        background-position: -750px -100px;

        &:hover {
            background-position: -750px -120px;
        }
    }
}